.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 18px;
}

.register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    font-size: 18px;
}


