{% extends 'base.html' %}


{% block content %}


<header>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Analise</a></li>
            <li class="nav-item"><a href="{{url_for('resolvidos')}}" class="nav-link">Resolvidos</a></li>
            <li class="nav-item"><a href="{{url_for('registrar')}}" class="nav-link">Registrar Usuario</a></li>
            <li class="nav-item"><a href="{{url_for('logout_user')}}" class="nav-link">Sair</a></li>
          </ul>
        </header>
    </div>
    <div>
        <h1>Contratos</h1>
    </div>
    <div>
        <p>AQUI TEMOS OS CONTRATOS</p>
    </div>


{% endblock %}
