{% extends 'base.html' %}


{% block content %}


<header>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Analise</a></li>
            <li class="nav-item"><a href="{{url_for('contratos')}}" class="nav-link">Contratos</a></li>
            <li class="nav-item"><a href="{{url_for('resolvidos')}}" class="nav-link">Resolvidos</a></li>
            <li class="nav-item"><a href="{{url_for('config')}}" class="nav-link">Configuração</a></li>
            <li class="nav-item"><a href="{{url_for('logout_user')}}" class="nav-link">Sair</a></li>
          </ul>
        </header>
    </div>
    <!--
      Esse problema da tabela pode ser resolvido com um for
    -->
    <h1>Clientes</h1>
</header>
<div>
  <table class="table">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Valor</th>
        <th scope="col">Alterar</th>
      </tr>
    </thead>
    <tbody>
      {% for chave,valor in dados.items() %}
          <tr>
            <th scope="row">{{chave}}</th>
            <td>{{valor}}</td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Options</button>
            </td>
          </tr>
      {% endfor %}
    </tbody>
    
    
  </table>
</div>

<div>
  
    
    
  
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar Dados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="#">Alterar Cadastro</a><br>
        <a href="#">Alterar Status</a><br>
        <a href="#">Excluir Cliente</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar Alterações</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
